body {
    background-color: lightblue;
    font-family: 'Source Sans Pro', sans-serif;
    color: blue;
}

img {
    display: block;
    margin: auto;
    width: 25%;
}

.centerText {
    text-align: center;
}

#inputBox {
    margin-top: 20px;
}

#questionBox{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px; 
    width: 70%;
    height: auto;
    display: none;
}

.success{
    color: blue;
}

.error{
    color: red;
}