<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"  th:replace="fragments/layout :: layout(template='test', menu='home') ">

<body>

<h2 th:text="#{greeting}">Greeting</h2>
<div class="row">
    <div class="col-md-12">
        <img class="img-responsive" src="../static/resources/image/UniSlidoLogo.png" th:src="@{/resources/image/UniSlidoLogo.png}"/>
    </div>
</div>

<p th:text="'Hello, ' + ${userName} + '!'" />

</body>
</html>