section {
  min-height: 100vh;
}

@media (min-width: 768px) {
    .navbar-custom {
        background-color: #222222;
    }
}

#questionBox{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border-radius: 3px;
    border: 1px solid #fed136;
    padding: 20px;
    width: 70%;
    height: 70vh;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}

#questionList{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 20px;
    width: 70%;
    height: 70vh;
    text-align: center;
    overflow-x: scroll;
}

#questionText{
    margin: 15px 0;
    text-transform: none;
    font-size: 22px;
}

.success{
    color: black;
}

.error{
    color: coral;
}

td{
    text-align: justify;
}

.titleText{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

#currentTitle{
    margin-top: -30px;
}

#allTitle{
    margin-top: -80px;
}
